*{ 
    box-sizing: border-box;
}
body {
    background-image: url(images/background.png);
}
nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding :10px 30px;
}
/*  Main-content  */
h1{
    color:blue;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.phone { 
    position: absolute;
    top:10%;  
    left:30%; 
}
.particles {
    position: relative;
}