@font-face {
  font-family: 'SF Pro Display';
  src: url('font/sfprodisplay.eot'); /* IE9 Compat Modes */
  src: url('font/sfprodisplay.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/sfprodisplay.woff2') format('woff2'),  /*Super Modern Browsers */
       url('font/sfprodisplay.woff') format('woff'), /* Pretty Modern Browsers */
       url('font/sfprodisplay.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('font/sfprodisplay.svg#svgFontName') format('svg'); /* Legacy iOS */
}


*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	position: absolute;
	max-width: auto;
	height: auto;
}



.navbar{
	width: 80%;
	display: inline-block;
	position: relative;
}

.logo{
	
	position: absolute;
	width: 8.13rem;
	height: 3.69rem;
	left: 9.13rem;
	top: 1.86rem;


}

.contact{
	position: absolute;
	width: 4.38rem;
	height: 1.5rem;
	left: 75.94rem;
	top: 3.19rem;

	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.5rem;
	opacity: 0.4;
	/* identical to box height */

	text-align: center;

}


	/* Grammy Awards facts at your fingertips. */

.title{
	position: absolute;
	width: 68.63rem;
	height: 4.5rem;
	left: 10.69rem;
	top: 9.4rem;

	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 3.75rem;
	line-height: 4.5rem;
	/* identical to box height */
	color: #2F80ED;
}

	/* Get all the facts you need to know about the Grammy awards everyday on your mobile phone. It’s fun and educating. */

.subtitle{
	position: absolute;
	width: 36.88rem;
	height: 3.13rem;
	left: 26.56rem;
	top: 15.44rem;

	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 1.3rem;
	line-height: 1.5rem;
	text-align: center;

	color: rgba(0, 0, 0, 0.75);

}

	/* Appstore */

span .appstore{
	position: absolute;
	width: 10.7rem;
	height: 3.5rem;
	left: 31.25rem;
	top: 20.13rem;
}

	/* Playstore */

span .playstore{


	position: absolute;
	width: 10.7rem;
	height: 3.5rem;
	left: 45.88rem;
	top: 20.13rem;

}

	/* Particles */

span .particle{


	position: absolute;
	width: 49.06rem;
	height: 34.75rem;
	left: 20.75rem;
	top: 24.81rem;

	opacity: 0.85;

}

	/* Phone */

span .phone{


	position: absolute;
	width: 18.75rem;
	height: 38.06rem;
	left: 35.25rem;
	top: 25.94rem;
}